*{margin:0; padding:0;}

.content{
	width:80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	font-size: 2.0em;
}

p{
	display:inline-block;
}

.word-1{
	color:red;
}

.word-2{
	color:green;
}

.word-3{
	color:red;
}

.word-4{
	color:green;
}

.word-5{
	color:red;
}

.word-6{
	color:green;
}

.word-7{
	color:red;
}

.word-8{
	color:green;
}

.word-9{
	color:red;
}

.word-10{
	color:green;
}
