body{
	text-align: center;
}

.line{
	margin:0 auto;
	width:70%;
	height:4px;
	background:#000000;

}

.description{
	padding-bottom: 50px;
	background-color: #000000;
	color: #ffffff;
}

p{
	padding-top: 50px;
}

.picture{
	max-width: 1000px; 
	text-align: center;
	display: block;
	margin: 0 auto;
}

.picture img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.picture img:hover {
  width: 600px;
  height: 600px;
}