*{margin:0; padding:0;}

.content{
	width: 100%;
}

.title{
	text-align: center;
	margin-top: 1%;
	font-size: 5.0em;
}

.board{
	background-color: #0f69b4;
	width: 700px;
	height: 700px;
	margin-left: 25%;
	margin-top: 1%;
	margin-bottom: 3%;
	padding-left: 0.65%;
	padding-top: 0.75%;
}

.square-1{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}

.square-2{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-3{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-4{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-5{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-6{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-7{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-8{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}
.square-9{
	background-color: #69b40f;
	width: 30%;
	height: 30%;
	margin: 1.3%;
	display: inline-block;
	vertical-align: top;
}

h3 {
	font-size: 12.0em;
	text-align: center;
	font-family: Arial;
}

