*{padding: 0; margin: 0;}

.top_nav{
	background-color: black;
	height: 7%;
	width: 100%;
	text-align: center;
	position: fixed;
	top:0;
}

.top_nav a{
	display:inline-block;
}

.top_nav li{
	text-decoration: none;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.0em;
	color:white;
	list-style: none;
	display: inline-block;
	height:100%;
	padding-top: 8%;
	padding-left: 60px;
	padding-right: 60px;
	transition:0.5s ease;
}

.content{
	width: 100%;
	height:80%;
}

.images{
	margin-top: 5.5%;
	margin-bottom: 10%;
	margin-left: 3%;
	margin-right: 3%;
}

.content img{
	display: inline-block;
	width:30%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.nav{
	background-color: black;
	bottom: 0;
	height: 7%;
	width: 100%;
	text-align: center;
	position: fixed;
	opacity: 0.7;
}

.nav a{
	display:inline-block;
}

.nav li{
	text-decoration: none;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.0em;
	color:white;
	list-style: none;
	display: inline-block;
	height:100%;
	padding-top: 10%;
	padding-left: 60px;
	padding-right: 60px;
	transition:0.5s ease;
}

li:hover{
	color:red;
}